body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  overflow: hidden;
}

.stage:hover canvas {
  cursor: pointer;
  width: 100%;
}

.panel {
  width: fit-content;
  margin: 5px;
  padding: 10px;
  border: 2px solid gray;
  color: gray;
  border-radius: 10px;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.panel input[type=text] {
  width: 50px;
}

.panel input,
.panel select {
  margin-right: 10px;
}

.panel label {
  margin-right: 5px;
}